//------------------------------------------------------------------------------
// Block.scss.
//------------------------------------------------------------------------------

.logo {
  display: inline-block;
}

.logo__svg {
  width: $logo-width-1; // IE11 svgbug.
  height: $logo-height-1;

  vertical-align: top;
}

.logo__clock {
  fill: $color-logo-1;
  animation: drupal-clock 2s;
}

@include mq($until: bp-tablet) {
  .site-logo {
    margin-right: auto;
  }
}

@include mq(bp-tablet) {
  .logo__svg {
    width: $logo-width-2; // IE11 svgbug.
    height: $logo-height-2;
  }
}
