//------------------------------------------------------------------------------
// Button.scss.
//------------------------------------------------------------------------------

%btn,
.btn {
  display: block;
  padding: $btn-default-padding-horz $btn-default-padding-vert;

  font-size: $font-size-large;
  text-decoration: none;
  color: $btn-default-text;
  background-color: $btn-default-bg;
  border: none;
  border-radius: 0;
  appearance: none;
  cursor: pointer;

  transition: background-color 200ms ease;

  &:focus,
  &:hover {
    text-decoration: none;
    color: $btn-default-text;
    background-color: $btn-default-bg-hover;
  }

  &:active {
    background-color: $btn-default-bg-active;
  }

  p & {
    display: inline-block;
  }
}

.btn__cta {
  display: inline-flex;
  align-items: center;
  padding-top: $btn-default-padding-horz-icon;
  padding-bottom: $btn-default-padding-horz-icon;

  font-weight: 500;
  color: $btn-orange-text;
  background-color: $btn-orange-bg;

  > svg {
    box-sizing: content-box;
    flex-shrink: 0;
    width: (36 / 20) + em;
    height: (36 / 20) + em;
    margin-right: 1em;
    padding-right: 1em;

    color: $btn-orange-icon;
    border-right: $border-width-1 solid $btn-orange-text;
  }

  &:hover,
  &:focus {
    color: $btn-orange-text-hover;
    background-color: $btn-orange-bg-hover;

    > svg {
      color: $btn-orange-text-hover;
    }
  }
}

//------------------------------------------------------------------------------
// Expandable menu button.
//------------------------------------------------------------------------------
.btn__menu {
  min-width: $btn-menu-width;
  margin-right: -$site-padding-1;
  padding: $btn-menu-padding-horz $site-padding-1 $btn-menu-padding-horz $btn-menu-padding-vert;

  font-size: $btn-menu-fontsize;
  text-transform: uppercase;

  .icon {
    margin-left: 1em;

    transition: transform 200ms ease;
  }

  &:hover,
  &:focus {
    .icon__menu {
      transform: scaleY(1.2);
    }

    .icon__close {
      transform: rotate(90deg);
    }
  }
}

.btn__menu--span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__menu--expanded {
  display: none;
}

.r-header-navigation--expanded {
  .btn__menu--collapsed {
    display: none;
  }

  .btn__menu--expanded {
    display: flex;
  }
}

//------------------------------------------------------------------------------
// Icon button.
//------------------------------------------------------------------------------
.btn--icon {
  &:before {
    content: " ";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: $margin-default-3/2;

    background-repeat: no-repeat;
    background-position: center;
    border-right: $border-width-1 $color-font-base;
  }
}

@include mq(bp-tablet) {
  .btn__menu {
    display: none;
  }
}
