//------------------------------------------------------------------------------
// Layout.scss.
//------------------------------------------------------------------------------

@include mq($until: bp-adminmenu) {
  body {
    // Override JS padding top for admin theme.
    padding-top: 0!important;
  }
}

// Entire site wrapper (without admin menu, etc).
.site-wrapper {
  // The wrapper is flex for the sticky footer.
  display: flex;
  // Order is only used for KCC users.
  order: 2;
  flex-direction: column;
  min-height: 100%;
}

// Root wrappers.
//------------------------------------------------------------------------------

// Shared class for header/main/footer.
.wrapper-root {
  display: flex;
  flex-direction: column;
}

.wrapper-main {
  flex-grow: 1;
  margin-top: $header-height-1;
}

.wrapper-footer {
  z-index: 1;
  flex-shrink: 0;
  // Make footer sticky.
  margin-top: auto;

  table {
    margin-top: 0;
  }

  tr {
    border-bottom: none;
  }

  th,
  td {
    padding: $margin-default-1 0;
  }
}

@include mq($until: bp-tablet) {
  .wrapper-main {
    z-index: 1;
  }

  .wrapper-root {
    &:not(.wrapper-header) {
      transition: transform $menu-mobile-transition-time ease;
    }
  }

  .r-header-navigation {
    // IOS "pull to refresh rubber-band" workaround.
    opacity: 0;

    // We only use the delay property of this transition. Speed should be
    // instant.
    transition: opacity 0ms;
    // Hide the mobile menu, when the "close menu" transition ends.
    transition-delay: $menu-mobile-transition-time;
  }

  // Expandable menu.
  .r-header-navigation--expanded {
    .r-header-navigation {
      // IOS "pull to refresh rubber-band" workaround. Hide the mobile menu,
      // when the "close menu" transition ends.
      opacity: 1;

      // Disable transition when opening menu.
      transition: none;
    }

    .wrapper-root {
      &:not(.wrapper-header) {
        transform: translateX(-100%);
      }
    }
  }
}

@include mq(bp-tablet) {
  .wrapper-header {
    position: fixed;
    // Contextual links are "z-index: 500".
    z-index: 501;
    right: 0;
    left: 0;
    flex-shrink: 0;

    .toolbar-tray-open.toolbar-vertical.toolbar-fixed & {
      left: $menu-admin-width-expanded;
    }
  }

  .wrapper-main {
    margin-top: $header-height-2;
  }
}

// layout wrappers.
//------------------------------------------------------------------------------

// Default site centering.
.l-site-width {
  max-width: $site-width-5;
  margin-right: auto;
  margin-left: auto;
  padding-right: $site-padding-1;
  padding-left: $site-padding-1;
}

@include mq(bp-tablet) {
  .l-site-width {
    padding-right: $site-padding-4;
    padding-left: $site-padding-4;
  }
}

@include mq(bp-desktop) {
  .l-site-width {
    padding-right: $site-padding-5;
    padding-left: $site-padding-5;
  }
}

// layout colors + small flexbox styling.
//------------------------------------------------------------------------------

.l-top {
  background-color: $color-l-top;
}

.l-header {
  background-color: $color-l-header;
}

.l-hero {
  background-color: $color-l-hero;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.l-breadcrumb {
  background-color: $color-l-breadcrumb;
}

.l-above-content {
  background-color: $color-l-above-content;
}

.l-content-top {
  background-color: $color-l-content-top;
}

.l-content {
  flex-grow: 1;

  background-color: $color-l-content;
}

.l-content-bottom {
  background-color: $color-l-content-bottom;
}

.l-below-content {
  background-color: $color-l-below-content;
  border-bottom: $margin-default-2 solid $color-white-1;
}

.l-footer-first {
  padding-top: $content-padding;
  padding-bottom: $content-padding;

  background-color: $color-l-footer-first;

  * {
    color: $color-white-1;
  }

  p {
    margin-top: (5 / 18) + em;
    margin-bottom: (5 / 18) + em;
  }

  a {
    outline-color: $color-highlight-1;

    &:hover,
    &:focus {
      color: $color-highlight-1;
    }
  }
}

.l-footer-second {
  background-color: $color-l-footer-second;
}

// layout inner styling.
//------------------------------------------------------------------------------
// Page title, bg-images, search.
.l-hero-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%; // IE11 fix.
  min-height: $hero-height-1;
  padding-top: $hero-padding-1;
  padding-bottom: $hero-padding-1;

  transition: min-height 400ms ease;

  // With image background.
  [style^="background-image"] & {
    min-height: $hero-height-bg-1;
    padding-bottom: 0;
  }

  // For the search.
  .path-frontpage & {
    padding-bottom: $hero-padding-search-1;
  }
}

.r-header-main {
  display: flex;
  align-items: center;
}

.r-header-navigation {
  display: flex;
  flex-direction: column;
}

@include mq($until: bp-tablet) {
  .r-header-main {
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    padding-right: $site-padding-1;
    padding-left: $site-padding-1;

    background-color: $color-header-bg-1;

    .toolbar-tray-open.toolbar-vertical.toolbar-fixed & {
      left: $menu-admin-width-expanded;
    }
  }

  .r-header-navigation {
    position: fixed;
    top: $header-height-1;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $header-padding-top-1 $site-padding-1 $site-padding-1 $site-padding-1;
    overflow: auto;

    color: $color-white-1;
    background-color: $color-blue-3;

    .adminimal-admin-toolbar & {
      top: $menu-admin-height + $header-height-1;
    }
  }
}

@include mq(bp-tablet) {
  .l-header-inner {
    display: flex;

    padding-top: $header-padding-top-2;
    padding-bottom: $header-padding-top-2;
  }

  .l-hero-inner {
    min-height: $hero-height-2;
    padding-top: $hero-padding-2;
    padding-bottom: $hero-padding-2;

    // With image background.
    [style^="background-image"] & {
      min-height: $hero-height-bg-2;

      padding-top: $hero-padding-image-2;
      padding-bottom: $hero-padding-image-2;
    }

    // For the search.
    .path-frontpage & {
      justify-content: center;
    }
  }

  .r-header-main {
    align-self: center;
    margin-right: auto;
  }

  .r-header-navigation {
    align-self: flex-end;
    flex-direction: row;
  }
}
