//------------------------------------------------------------------------------
// Layout.scss.
//------------------------------------------------------------------------------

@include mq($until: bp-adminmenu) {
  body {
    // Override JS padding top for admin theme.
    padding-top: 0!important;
  }
}

.dialog-off-canvas-main-canvas {
  height: 100%; // Let flexbox do it's magic.
}

// Entire site wrapper (without admin menu, etc).
.site-wrapper {
  // The wrapper is flex for the sticky footer.
  display: flex;
  // Order is only used for KCC users.
  order: 2;
  flex-direction: column;
  min-height: 100%;
}

// Root wrappers.
//------------------------------------------------------------------------------

// Shared class for header/main/footer.
.wrapper-root {
  display: flex;
  flex-direction: column;
}

.wrapper-main {
  flex-grow: 1;
}

.wrapper-footer {
  z-index: 1;
  flex-shrink: 0;
  // Make footer sticky.
  margin-top: auto;
  overflow: hidden;

  background-color: $color-l-footer;

  table {
    margin-top: 0;
  }

  tr {
    border-bottom: none;
  }

  th,
  td {
    padding: $margin-default-1 0;
  }

  p {
    margin-top: (5 / 18) + em;
    margin-bottom: (5 / 18) + em;
  }

  a {
    outline-color: $color-highlight-1;

    &:hover,
    &:focus {
      color: $color-highlight-1;
    }
  }
}

.wrapper-footer-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-footer {
  display: flex;
}

.l-footer-first {
}

.l-footer-second {
  justify-self: flex-end;
}

.l-footer-third {
  width: 100%;

  border-top: $border-width-2 solid $color-gray-5;
}

.bg-footer {
  position: absolute;
  z-index: -1;
  top: -2.8rem;
  left: -4.7rem;
  width: 18rem;
  height: 20rem;

  color: $color-gray-7;
}

@include mq($until: bp-tablet) {
  .wrapper-footer-inner {
    flex-direction: column;
  }

  .l-footer {
    justify-content: center;
    padding-top: .5em;
    padding-bottom: .5em;
  }
}

@include mq(bp-tablet) {
  .l-footer {
    justify-content: flex-end;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

@include mq($until: bp-tablet) {
  .wrapper-main {
    z-index: 1;
    margin-top: $header-height-1;
  }

  .wrapper-root {
    &:not(.wrapper-header) {
      transition: transform $menu-mobile-transition-time ease;
    }
  }

  .r-header-navigation {
    // IOS "pull to refresh rubber-band" workaround.
    opacity: 0;

    // We only use the delay property of this transition. Speed should be
    // instant.
    transition: opacity 0ms;
    // Hide the mobile menu, when the "close menu" transition ends.
    transition-delay: $menu-mobile-transition-time;
  }

  // Expandable menu.
  .r-header-navigation--expanded {
    .r-header-navigation {
      // IOS "pull to refresh rubber-band" workaround. Hide the mobile menu,
      // when the "close menu" transition ends.
      opacity: 1;

      // Disable transition when opening menu.
      transition: none;
    }

    .wrapper-root {
      &:not(.wrapper-header) {
        transform: translateX(-100%);
      }
    }
  }
}

@include mq(bp-tablet) {
  .wrapper-header {
    position: sticky;
    // Contextual links are "z-index: 500".
    z-index: 501;
    top: 0;
    flex-shrink: 0;

    .toolbar-fixed & {
      top: $menu-admin-height;
    }

    .toolbar-tray-open.toolbar-fixed & {
      top: $menu-admin-height-expanded;
    }

    .toolbar-tray-open.toolbar-vertical.toolbar-fixed & {
      top: $menu-admin-height;
      left: $menu-admin-width-expanded;
    }
  }
}

// layout wrappers.
//------------------------------------------------------------------------------

// Default site centering.
.node, // @todo remove ugly .node, just very temporary, sorry, unicorn smile.
.l-site-width {
  width: 100%;
  max-width: $site-width-5;
  margin-right: auto;
  margin-left: auto;
  padding-right: $site-padding-1;
  padding-left: $site-padding-1;
}

@include mq(bp-tablet) {
  .node, // @todo remove ugly .node, just very temporary, sorry, unicorn smile.
  .l-site-width {
    padding-right: $site-padding-4;
    padding-left: $site-padding-4;
  }
}

@include mq(bp-desktop) {
  .node, // @todo remove ugly .node, just very temporary, sorry, unicorn smile.
  .l-site-width {
    padding-right: $site-padding-5;
    padding-left: $site-padding-5;
  }
}

// layout colors + small flexbox styling.
//------------------------------------------------------------------------------

.l-top {
  background-color: $color-l-top;
}

.l-header {
  background-color: $color-l-header;
}

.l-breadcrumb {
  background-color: $color-l-breadcrumb;
}

.l-above-content {
  background-color: $color-l-above-content;
}

.l-content-top {
  background-color: $color-l-content-top;
}

.l-content {
  flex-grow: 1;

  background-color: $color-l-content;
}

.l-content-bottom {
  background-color: $color-l-content-bottom;
}

.l-below-content {
  background-color: $color-l-below-content;
  border-bottom: $margin-default-2 solid $color-white-1;
}

// layout inner styling.
//------------------------------------------------------------------------------

.l-header-inner {
  display: flex;
}
// Page title, bg-images, search.
.r-header-main {
  display: flex;
}

.r-header-navigation {
  display: flex;
  flex-direction: column;
}

@include mq($until: bp-tablet) {

  .l-header-inner {
    padding: 0;
  }

  .r-header-main {
    position: fixed;
    align-items: center;
    z-index: 2;
    width: 100%;
    left: 0;
    right: 0;
    padding:  .3em $site-padding-1;

    background-color: $color-header-bg-1;

    .toolbar-tray-open.toolbar-vertical.toolbar-fixed & {
      left: $menu-admin-width-expanded;
    }
  }

  .r-header-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: $header-height-1;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $site-padding-1;
    overflow: auto;

    color: $color-white-1;
    background-color: $color-blue-1;

    .adminimal-admin-toolbar & {
      top: $menu-admin-height + $header-height-1;
    }
  }
}

@include mq(bp-tablet) {
  .l-header-inner {
    align-items: center;
    padding-top: $header-padding-top-2;
    padding-bottom: $header-padding-top-2;
  }

  .r-header-main {
    margin-right: auto;
  }

  .r-header-navigation {
    flex-direction: row;
  }
}
