//------------------------------------------------------------------------------
// Media.scss.
//------------------------------------------------------------------------------

img {
  max-width: 100%;
  height: auto;

  vertical-align: top;
}

// Image viewmode.
.media__image {
  .field__name {
    padding: $margin-default-1;

    font-size: .9em;
    font-style: italic;
  }
}

// News images.
//------------------------------------------------------------------------------
.news__image {
  display: flex;
  align-items: center;
  max-height: $image-news-maxheight;
  overflow: hidden;

  img {
    width: 100%;
  }
}

// Tile images.
//------------------------------------------------------------------------------
.tile__image {
  display: flex;
  align-items: center;
  max-height: $image-tile-maxheight;
  margin-bottom: $margin-default-4;
  overflow: hidden;

  img {
    width: 100%;
  }
}

// Profile images.
//------------------------------------------------------------------------------
.profile {
  > .media {
    margin-top: $margin-default-4;
    margin-bottom: $margin-default-4;
  }
}
