//------------------------------------------------------------------------------
// Menus.scss.
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// default menu styling.
//------------------------------------------------------------------------------
.site-wrapper { // temporary.
  .menu {
    @extend %reset-list;
  }
}

//------------------------------------------------------------------------------
// Main menu.
//------------------------------------------------------------------------------
.site-wrapper { // temporary.
  .menu {
    display: flex;
  }

  .menu-item {
    margin-right: .5em;

    a {
      display: block;
      padding: 1em;

      text-decoration: none;
      font-weight: 500;
      color: $color-white-1;

      &:hover,
      &:focus {
        color: $color-orange-1;
        background-color: $color-white-1;
      }
    }
  }
}
