//------------------------------------------------------------------------------
// Menus.scss.
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// default menu styling.
//------------------------------------------------------------------------------
.menu {
  @extend %reset-list;
}

//------------------------------------------------------------------------------
// Main menu.
//------------------------------------------------------------------------------
.menu--main {
  .menu {
    display: flex;
  }

  .menu-item {
    margin-right: .5em;

    a {
      display: block;
      padding: 1em;

      color: $color-white-1;

      &:hover,
      &:focus {
        color: $color-orange-1;
        background-color: $color-white-1;
      }
    }
  }
}

