//------------------------------------------------------------------------------
// Pagetitle.scss.
// Not yet in patternlab.
//------------------------------------------------------------------------------
.l-hero {
  h1 {
    max-width: $node-content-width;
  }

  &[style^="background-image"] {
    h1 {
      font-weight: 200;
      color: $color-white-1;
      background-color: $color-pagetitle-1;

      transition:
        margin 300ms ease,
        padding 300ms ease,
        font-size 300ms ease;
    }
  }
}

@include mq($until: bp-tablet) {
  .l-hero {
    &[style^="background-image"] {
      h1 {
        margin-right: -$site-padding-1;
        margin-left: -$site-padding-1;
        padding: $pagetitle-padding-1 $site-padding-1;

        font-size: $pagetitle-fontsize-1;
      }
    }
  }
}

@include mq(bp-tablet) {
  .l-hero {
    &[style^="background-image"] {
      h1 {
        display: inline-block;
        padding: $pagetitle-padding-2;

        font-size: $pagetitle-fontsize-2;
      }
    }
  }
}
