//------------------------------------------------------------------------------
// Paragraphs.scss.
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// Paragraph "Section".
//------------------------------------------------------------------------------
.paragraph__section {
  padding-top: $margin-default-7;
  padding-bottom: $margin-default-7;

  border-bottom: $border-width-1 solid $color-hr;
}

.section__anchor {
  @extend %visually-hidden;
}

@include mq($until:bp-tablet) {
  .section__anchor {
    margin-top: -$header-height-1;

    .adminimal-admin-toolbar & {
      margin-top: -($menu-admin-height + $header-height-1);
    }

    .toolbar-horizontal.toolbar-tray-open & {
      margin-top: -($menu-admin-height-expanded + $header-height-1);
    }
  }
}

@include mq(bp-tablet) {
  .section__anchor {
    margin-top: -$header-height-2;

    .adminimal-admin-toolbar & {
      margin-top: -($menu-admin-height + $header-height-2);
    }

    .toolbar-horizontal.toolbar-tray-open & {
      margin-top: -($menu-admin-height-expanded + $header-height-2);
    }
  }
}

.node__region {
  > .paragraph {
    margin-bottom: $margin-default-4;
  }
}

@include mq(bp-tablet) {
  .node__region {
    > .paragraph {
      margin-bottom: $margin-default-8;
    }
  }
}

//------------------------------------------------------------------------------
// Paragraph "body and image".
//------------------------------------------------------------------------------
.paragraph__body-and-image {
  display: flex;
  flex-direction: column;
}

.paragraph__body-and-image--before {
  flex-direction: column;

  .media {
    margin-bottom: $margin-default-3;
  }
}

.paragraph__body-and-image--after {
  flex-direction: column-reverse;

  .field {
    margin-bottom: $margin-default-3;
  }
}

@include mq($until: bp-tablet) {
  .paragraph__body-and-image--right,
  .paragraph__body-and-image--left {
    .media {
      margin-bottom: $margin-default-3;
    }
  }
}
@include mq(bp-tablet) {
  .paragraph__body-and-image--right {
    flex-direction: row-reverse;

    .media,
    .field {
      flex-basis: 50%;
    }

    .media {
      margin-left: $margin-default-3;
    }

    .field {
      margin-right: $margin-default-3;
    }
  }

  .paragraph__body-and-image--left {
    flex-direction: row;

    .media,
    .field {
      flex-basis: 50%;
    }

    .media {
      margin-right: $margin-default-3;
    }

    .field {
      margin-left: $margin-default-3;
    }
  }
}

//------------------------------------------------------------------------------
// Paragraph "direct links".
//------------------------------------------------------------------------------
.directlinks {
  padding-top: $margin-default-4;
  padding-bottom: $margin-default-4;
}

.directlink__title {
  margin-bottom: $margin-default-1;

  font-size: $font-size-2-h2;
}

.directlinks__list {
  @extend %reset-list;
}

@include mq($until: bp-tablet) {
  .directlinks__item {
    border-bottom: $border-width-1 solid $color-gray-3;
  }
}

@include mq(bp-tablet) {
  .directlinks__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$margin-default-1;
    margin-left: -$margin-default-1;
  }

  .directlinks__item {
    margin: $margin-default-1;
  }
}

//------------------------------------------------------------------------------
// Paragraph "links".
//------------------------------------------------------------------------------
.list__item--spatious {
  a {
    display: inline-block;
    padding-top: (8 / 18) + em;
    padding-bottom: (8 / 18) + em;
  }
}

//------------------------------------------------------------------------------
// Paragraph "link blocks".
//------------------------------------------------------------------------------
.linkblocks {
  @extend %reset-list;
  margin-bottom: $margin-default-1;
}

.linkblock {
  border-bottom: $border-width-1 solid $color-gray-3;
}

//------------------------------------------------------------------------------
// Paragraph "Call to action", "announcement" and "phone".
//------------------------------------------------------------------------------
.paragraph__call-to-action-announcement,
.paragraph__call-to-action-phone,
.paragraph__call-to-action-link {
  margin-top: $margin-default-8;
}

.field--announcement,
.field--phone {
  display: flex;

  font-size: 1.2em;
  font-weight: 500;

  .icon {
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    margin-right: 1.5em;

    color: $color-blue-3;
  }
}

// Telephone.
.field--phone {
  align-items: center;

  user-select: all;
}

// Announcement.
.field--announcement {
  .icon {
    margin-top: .35em;
  }
}
