.maintenance-page {
  .r-content {
    max-width: $node-content-width;
    padding-top: $content-padding;
    padding-bottom: $content-padding;
  }
}

.maintenance-page__title {
  display: flex;
  align-items: center;

  .icon__warning {
    width: 1em;
    height: .9em;
    margin-right: 1rem;
  }
}
