.maintenance-page {
  .l-hero-inner {
  }

  .r-header-main {
    min-height: $header-height-2;
  }

  .r-content {
    max-width: $node-content-width;
    padding-top: $content-padding;
    padding-bottom: $content-padding;
  }

  @include mq($until: bp-tablet) {
    .r-header-main {
      min-height: $header-height-1;
    }
  }
}

.maintenance-page__title {
  display: flex;
  align-items: center;

  .icon__warning {
    width: 1em;
    height: .9em;
    margin-right: 1rem;
  }
}
